---
import { themeClass } from '@/styles/theme.css';
import '@/styles/global.css';
---

<html class={themeClass} lang={Astro.currentLocale}>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
